.flash-sale-card-container{
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    min-width: 200px;
    height: 400px;
    margin:15px;
}

.flash-sale-card-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2BD9AF;
    border-radius: 20px;
    padding: 10px;
    height: 130px;
    overflow: hidden;
}

.flash-sale-card-desc{
    text-align: center;
}

.flash-sale-card-price{
    margin:0px;
    color:#0E42FD;
}


.flash-sale-card-img{
    width:100px;
}

.flash-sale-card-title{
    font-size: 16px;
    text-align: center;
}