.sign-up-container {
  position: absolute;
  margin-left: 50%;
  left: -271px;
  margin-top: 10%;
}

#form-sign-up {
  padding: 10px;
}

.sign-up {
  width: 382px;
  overflow: hidden;
  margin: auto;
  padding: 80px;
  background: #23463f;
  border-radius: 15px;
}
.sign-up label {
  color: #08ffd1;
  font-size: 17px;
}
.sign-up input[type="password"],
.sign-up input[type="text"] {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  padding: 8px;
}
.sign-up #sign-up {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
  cursor: pointer;
}

.form-sign-up-input-group {
  display: flex;
  margin-top: 10px;
}
.form-sign-up-input-label {
  width: 140px;
  display: flex;
  justify-content: flex-start;
}
.form-sign-up-input {
  width: 50%;
}

.btn-container{
  align-items: center;
}