.flex-container{  
  margin:40px;
}
.flex-container-heading{
  padding-left: 55px;
}

.flex-container-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  align-items: stretch;
}

