.main-heading-container{
   border-bottom: 5px solid #D9D9D9;
}
.main-heading-container a{
    text-decoration: none;
}
.main-heading {
  text-align: center;
  font-family: "Roboto";
  color: #0e0e0e;
  text-decoration: none !important;
}
